<template name="completedStoriesList">

	<div class="storyListHeading">
		This is a list of all completed stories. Link in blue is the moral of the story
	</div>
	<div class="ui stackable three column grid">
		{{#each returnCompletedStories}}
		<div class="column">

			<a href="{{pathFor 'completedStoriesPage'}}">
				<div class="ui segment centerCompleted">
					{{createdAt}}<br />

					Winner: {{winner}}
					<br />
					<div class="moralStyle">{{moral}}</div>
					<br />

				</div>
			</a>
			<br />
		</div>
		{{/each}}
	</div>

</template>