<template name="gamesList">

<div class="ui stackable grid">
		<div class="sixteen wide column">
			<div class="ui segment">

			<a href="{{pathFor 'gamePage'}}">
				<div class="ui button createGame">Create Game</div>
				<br />
			</a>
		</div>
		</div>
	</div>
	<div class="ui stackable three column grid">
		{{#each game}}
		<div class="column">
			<div class="ui segment">
				<div class="ui green button joinGame"><a href="{{pathFor 'gamePage'}}">Join Game</a></div>
				
				<br />
			Created At: {{createdAt}}<br /> By: 
			{{createdBy}}<br />

				
				<br />
		
	</div>
			</div>
		{{/each}}
	</div>
</template>
