<template name="userPage">



	<div class="ui page grid">
		<div class="center aligned column">
			<div class="statistics">
				{{#each user}}
				<div class="email">{{profile.name}}<br />

				<img class='profpic' src="{{profile.largePicture}}" />

				</div>
				<br />

				<div class="ui three column grid">
					<div class="column">
						<div class="statTitle">Rounds Played: </div>

						<div class="ui segment center">{{profile.roundsPlayed}}</div>
					
					</div>

					<div class="column">
						<div class="statTitle">Rounds Won: </div>
						<div class="ui segment center">{{profile.roundsWon}}</div>
					</div>

					<div class="column">
						<div class="statTitle">Games Won: </div>
						<div class="ui segment center">{{profile.gamesWon}}</div>
					</div>

					<div class="column">
						<div class="statTitle">Votes Received: </div>
					<div class="ui segment center">{{profile.voteTotal}}</div>
					</div>

					<div class="column">
						<div class="statTitle">Average Response Length:</div> 
					<div class="ui segment center">{{averageResponseLength}} Characters</div>
					</div>

					<div class="column">
						<div class="statTitle">Average Response Time: </div>
					<div class="ui segment center">{{averageResponseTime}} seconds
					</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>